# Python
__pycache__/
*.pyc

# Virtual env
.venv/

# Build / dist
build/
dist/
instalador/
GeradorDiarioObra.spec

# Logs
*.log
logs/

# Arquivos gerados
*.docx
*.pdf
saida/
app.spec
# Dados locais (cuidado)
dados/

# IDE
.vscode/

# Sistema
.DS_Store
Thumbs.db